[Unit]
Description=Daemon for Kafka stream processor
Requires=zookeeper.service

[Service]
WorkingDirectory=/opt/kafka/kafka_2.11-0.10.1.0/
ExecStart=/opt/kafka/kafka_2.11-0.10.1.0/bin/kafka-server-start.sh ./config/server.properties
Restart=no
User=phred
Group=phred


[Install]
WantedBy=multi-user.target

# bin/kafka-topics.sh --create --zookeeper localhost:2181 --replication-factor 1 --partitions 1 --topic test
