#
# webgme.service

# /etc/systemd/system/
#

[Unit]
Description=WebGME Immortals Service"
Documentation=https://webgme.org
Requires=mongodb.service

[Service]
Type=simple
# Restart=always
# StandardInput=
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webgme
SyslogLevel=debug
User=nobody
# Group=nobody
WorkingDirectory=/home/fred/projects/brass/webgme-immortals
ExecStart=/bin/sh /home/fred/projects/brass/webgme-immortals/init/webgme_immortals.sh


# man systemd.special
# Services that can be socket-activated shall add Wants=
# dependencies to this unit for their socket unit during installation.
[Install]
WantedBy=multi-user.target
