## systemd Config

# webgme.service
# goes to /usr/local/lib/systemd/system/
#

[Unit]
Description=WebGME Listen Socket"
# Documentation=https://webgme.org
# Requires=webgme.service

[Socket]
ListenStream=8955
ListenStream=0.0.0.0:8955
Service=webgme.service

# man systemd.special
# Services that can be socket-activated shall add Wants=
# dependencies to this unit for their socket unit during installation.
[Install]
WantedBy=sockets.target
