# webgme.conf
description "WebGME service"

start on started networking
stop on runlevel [016]

respawn

#limit nofile 1000000 1000000

console log

script
    export NVM_DIR="/home/brass/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
    cd /home/brass/projects/brass/webgme-immortals
    nvm use --delete-prefix v4.2.4
    node app.js

end script
